
.projeto, .tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.inconRemover {
    font-size: 30px;
}

.nome {
    flex-grow: 1;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
